[submodule "reclaimhosting"]
	path = reclaimhosting
	url = git@github.com:reclaimhosting/knowledge-base.git
[submodule "umwdomains"]
	path = umwdomains
	url = git@github.com:DTLT/dooo.git
[submodule "general"]
	path = general
	url = git@github.com:timmmmyboy/federated-content.git
